.mainbox
{
    width: 340px;
    min-height: 520px;
    margin: 75px 470px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

img
{
    border-radius: 50%;
    width: 75px;
    margin:45px 132px;
}

#first
{
    color: hsl(0, 0%, 100%); 
    margin-top: -25px; 
    text-align: 
    center; font-size: 22px;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.young-serif-regular 
{
    font-family: "Young Serif", serif;
    font-weight: 600;
    font-style: normal;
}

  
.outfit-font 
{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:400 ;
    font-style: normal;
}

ul
{
    list-style: none;
}

li
{
    padding: 12px;
    background-color: hsl(0, 0%, 20%);
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

li:hover
{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
